body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
#dropdown {
    position: fixed;
    top: -400px;
    left: 0;
    width: 250px;
    background: #444;
    color: #fff;
    /* transition: top 0.3s ease; */
    box-shadow: 2px 0 5px rgba(0,0,0,0.2);
    z-index: 999;
    padding-top: 3rem;
}
#dropdown.active {
    top: 0;
}
#dropdown ul {
    list-style: none;
    padding: 1rem 0;
    margin: 0;
}
#dropdown li {
    border-bottom: 1px solid #555;
}

#dropdown li:hover {
    background-color: #555;
}

#dropdown a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 0.75rem 1rem;
    display: block;
}
#hamburger {
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1000;
}
#hamburger div {
    width: 100%;
    height: 4px;
    background: #333;
    margin: 6px 0;
    transition: all 0.3s ease;
}

#hamburger.active div {
    background: #fff;
}

main {
    max-width: 800px;
    margin: 1.5rem auto 2rem;
    /* padding: 2rem; */
}

.logout-link {
    background: none;
    border: none;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 0.75rem 1rem;
    display: block;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.logout-link:hover {
    background-color: #555;
}


