<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Louis Hudson - CV</title>
        <link rel="stylesheet" href="{% static 'main/style.css' %}"> <!-- Link to your CSS file -->
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div id="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>

        <nav id="dropdown">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>

        <main>
            {% block content %}
            {% endblock %}
        </main>
        <script src="{% static 'main/scripts.js' %}"></script> <!-- Link to your JavaScript file -->
    </body>
</html>