{% extends "main/base.html" %}
{% block head %}
<title>Louis Hudson - Blog</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="blog-header">
            <h1 id="blog-head">Blog Posts</h1>
            
            <div style="display: flex; justify-content: flex-end; margin-bottom: 1rem;">
                {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-secondary">Logout</button>
                </form>
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
                {% endif %}
            </div>
        </div>
        {% if user.is_staff %}
            <form method="post" class="no-background">
                {% csrf_token %} 
                <button type="submit", name="Create", value="goto",class="btn btn-primary">Create post</button>
            </form>
        {% endif %}
        <div class="blog-grid">
            {% for post in posts %}

                <div class="blog-post">
                    <h2>{{ post.title }}</h2>
                    <p id="small-date">{{ post.created_at|date:"j F Y" }}</p>
                    <p>{{ post.content|linebreaksbr|truncatewords:30 }}</p>
                    <a href="{% url 'post_detail' post.post_id %}">Read more</a>
                </div>
            {% empty %}
                <p>No blog posts available.</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}