{% extends "main/base.html" %}
{% block head %}
    <title>{{ post.title }}</title>
{% endblock %}

{% block content %}
    <div class="post-detail">
        <h1>{{ post.title }}</h1>
        <div class="post-dates">
            <p>{{ post.created_at|date:"j F Y" }}</p>
        </div>
        <hr class="solid">
        <p class="blog-post-content">{{ post.content|linebreaksbr }}</p>
        
        {% for image in post.all_images %} 
            <a href={{image.url}}><img src="{{image.url}}" alt="Post Image" class="img-fluid" style="max-width: 100%; height: auto;"></a>
        {% endfor %}
    </div>
    <hr class="solid">
    <div class="comments-section">
        <h2>Comments</h2>
        {% for comment, replies in comments.items %}
            <div class="comment">
                <p><strong>{{ comment.author }}</strong> - {{ comment.created_at|date:"j F Y" }}</p>
                <p>{{ comment.content|linebreaksbr }}</p>
            </div>
            {% for reply in replies %}
                <div class="reply">
                    <p><strong>{{ reply.author }}</strong> - {{ reply.created_at|date:"j F Y" }}</p>
                    <p>{{ reply.content|linebreaksbr }}</p>
                </div>
            {% endfor %}
        {% empty %}
            <p>No comments yet.</p>
        {% endfor %}


        {% if user.is_staff %}
            <form method="post" class="no-background">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary" name="Edit" value="{{ post.post_id }}">Edit Post</button>
            </form>

            <div class="delete-button">
                <button class="btn btn-danger" onclick="toggleDetails(this)" type="button">
                    Delete
                </button>
                <div class="delete-confirmation">
                    <form method="POST" action="{% url 'delete_post' post.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" name="delete-button" value="delete-confirmed">
                            Confirm delete
                        </button>
                    </form>
                </div>
            </div>            
        {% endif %}
{% endblock %}